<section id="signUp" class="sign-up">
  <div class="w-75 position-absolute top-50 start-50 translate-middle">
    <form action="" [formGroup]="signUpForm" (ngSubmit)="subSignUp(signUpForm)">
      <p class="alert alert-danger" *ngIf="msgError">{{ msgError }}</p>
      <div class="row gy-2">
        <div class="col-md-6">
          <div class="form-data">
            <label for="first_name" class="form-label">First Name</label>
            <input
              formControlName="first_name"
              type="text"
              id="first_name"
              class="form-control"
              placeholder=" "
            />
          </div>
          <div
            class="msg-reg"
            *ngIf="
              signUpForm.get('first_name')?.errors &&
              signUpForm.get('first_name')?.touched
            "
          >
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('first_name')?.getError('required')"
            >
              Name Required
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('first_name')?.getError('minlength')"
            >
              Min Length 2
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('first_name')?.getError('maxlength')"
            >
              Max Length 25
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-data">
            <label for="last_name" class="form-label">Last Name</label>
            <input
              formControlName="last_name"
              type="text"
              id="last_name"
              class="form-control"
              placeholder=" "
            />
          </div>
          <div
            class="msg-reg"
            *ngIf="
              signUpForm.get('last_name')?.errors &&
              signUpForm.get('last_name')?.touched
            "
          >
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('last_name')?.getError('required')"
            >
              Name Required
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('last_name')?.getError('minlength')"
            >
              Min Length 2
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('last_name')?.getError('maxlength')"
            >
              Max Length 25
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="form-data">
            <label for="email" class="form-label">Email</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="form-control"
              placeholder=" "
            />
          </div>
          <div
            class="msg-reg"
            *ngIf="
              signUpForm.get('email')?.errors &&
              signUpForm.get('email')?.touched
            "
          >
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('email')?.getError('required')"
            >
              E-mail Required
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('email')?.getError('email')"
            >
              E-mail Formate InValid
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="form-data">
            <label for="age" class="form-label">Age</label>
            <input
              formControlName="age"
              type="number"
              id="age"
              class="form-control"
              placeholder=" "
            />
          </div>
          <div
            class="msg-reg"
            *ngIf="
              signUpForm.get('age')?.errors && signUpForm.get('age')?.touched
            "
          >
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('age')?.getError('required')"
            >
              Age Required
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('age')?.getError('min')"
            >
              Min Age 10
            </p>
            <p
              class="alert alert-danger p-0"
              *ngIf="signUpForm.get('age')?.getError('max')"
            >
              Max Age 80
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="form-data">
            <label for="password" class="form-label">Password</label>
            <input
              formControlName="password"
              type="password"
              id="password"
              class="form-control"
              placeholder=" "
            />
          </div>
          <div
            class="msg-reg"
            *ngIf="
              signUpForm.get('password')?.errors &&
              signUpForm.get('password')?.touched
            "
          >
            <ul class="alert alert-danger">
              <li>Minimum eight and maximum 10 characters</li>
              <li>at least one uppercase letter</li>
              <li>one lowercase letter</li>
              <li>one number and one special character</li>
            </ul>
          </div>
        </div>
      </div>
      <button
        type="submit"
        [ngClass]="{
          'btn w-100 mt-3 text-uppercase': true,
          'btn-secondary': !isRegister,
          'btn-danger': isRegister
        }"
        [disabled]="signUpForm.invalid"
      >
        <span *ngIf="!isRegister"> SignUp</span>
        <span *ngIf="isRegister"> Wait...</span>
      </button>
    </form>
  </div>
</section>
