<section class="profile">
  <div class="container py-5">
    <div class="hstack justify-content-between pb-4">
      <button class="btn btn-danger btn-sm" (click)="deleteAll()">
        Delete All
      </button>
      <button
        class="btn btn-info py-1 px-3"
        data-bs-toggle="modal"
        data-bs-target="#addNoteModal"
        (click)="changbutton()"
      >
        Add Note
      </button>
    </div>
    <p class="alert alert-info" *ngIf="msgData">{{ msgData }}</p>
    <input
      [(ngModel)]="termSearch"
      type="search"
      class="form-control form-control-sm w-50 mx-auto mb-4"
      placeholder="Search..."
    />
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 gy-3 note-container">
      <div
        *ngFor="let note of notesList | search: termSearch; trackBy: notes"
        class="col"
      >
        <div class="card h-100 text-bg-light shadow-lg bg-gradient mb-3">
          <div class="d-flex justify-content-between card-header">
            <h2
              [ngStyle]="{
               'font-size.px': note.title.length <12 ? '12' : '10'
              }"
            >
              {{ note.title }}
            </h2>
            <div class="dropdown">
              <span
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)="deleteNote(note)">Delete</a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#addNoteModal"
                    (click)="updateShowData(noteForm, note)"
                    >Update</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{ note.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------- Modal --------------- -->
  <form
    action=""
    class="text-dark"
    [formGroup]="noteForm"
    (ngSubmit)="addOrUpdate ? addNoteForm(noteForm) : updateNote(noteForm)"
  >
    <div
      class="modal fade"
      id="addNoteModal"
      tabindex="-1"
      aria-labelledby="addNoteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNoteModalLabel">New Note</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input
                type="text"
                class="form-control"
                id="recipient-name"
                formControlName="title"
              />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea
                class="form-control"
                id="message-text"
                formControlName="desc"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary py-1 px-2"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              #btnAdd
              type="submit"
              class="btn btn-info py-1 px-3"
              [disabled]="disabled || noteForm.invalid"
            >
              <span *ngIf="!isLoading"> Add Note</span>
              <span *ngIf="isLoading">
                Waiting <i class="fas fa-spinner fa-spin"></i
              ></span>
            </button>
            <button
              #btnUpdate
              type="submit"
              class="btn btn-warning py-1 px-3 d-none"
              [disabled]="disabled || noteForm.invalid"
            >
              <span *ngIf="!isLoading"> Update Note</span>
              <span *ngIf="isLoading">
                Waiting <i class="fas fa-spinner fa-spin"></i
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
