.router-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 62px);

}
:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
